![logo_academia.png]()

# <center><font color='green'>Python y SQL </center> </font>

Para trabajar con SQL utilizando Python necesitaremos tener instaladas las bibliotecas psycopg2 y sqlalchemy, e importarlas a nuestros programas.

In [2]:
import pandas as pd
import psycopg2
import sqlalchemy

Si no las tuvieras instaladas, abre una ventana del terminal y escribe los siguientes comandos:

- pip install psycopg2-binary
- pip install sqlalchemy

Para mostrar el funcionamiento de los comandos que nos interesan utilizaremos una base de datos de prueba llamada **northwind**, que es propiedad de Microsoft pero que permite su uso para el aprendizaje de SQL. Para crear la base de datos necesitarás primero tenerla descargada en tu equipo, abrir una terminal y ejecutar los siguientes comandos:

Para crear la base de datos:
- psql -h localhost -p 5432 -U postgres -c "CREATE DATABASE northwind"

Para cargar los datos del archivo:
- psql -h localhost -p 5432 -U postgres -d northwind -f northwinddb.sql

Crearemos ahora un **string de conexión** para realizar de manera más limpia nuestro trabajo. Para ello escribimos

In [3]:
db_url = "postgresql://postgres:password@localhost:5432/northwind"

En este caso, "password" es la contraseña que hemos fijado para el usuario **postgre** (podemos usar otro usuario y otra contraseña, siempre que el usuario tenga acceso a la base de datos.

El paso siguiente es crear un **objeto de conexión** utilizando el método create_engine de la librería sqlalchemy.  Cada vez que hagamos una petición a la base de datos con Pandas utilizaremos este objeto de conexión que dentro de la documentación de la librería sqlalchemy se conoce como **engine**.

In [4]:
from sqlalchemy import create_engine
engine = create_engine(db_url)

Y ya estamos listos para hacer nuestra consulta a la base de datos. Para ello definiremos **query** con nuestra consulta, que podremos modificar luego o añadir otras.

In [5]:
# Consulta SQL
query = "SELECT * FROM Products"

# Ejecución de la consulta y carga de resultados en un DataFrame
df = pd.read_sql(query, engine)
df

,product_id,product_name,supplier_id,category_id,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.00,39,0,10,1
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,1
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
72,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,0

In [6]:
query = "SELECT products.product_id, products.product_name, products.unit_price FROM Products WHERE products.unit_price >= 15 AND products.unit_price <=50"

df = pd.read_sql(query, engine)
df

    product_id                      product_name  unit_price
0            1                              Chai       18.00
1            2                             Chang       19.00
2            4      Chef Anton's Cajun Seasoning       22.00
3            5            Chef Anton's Gumbo Mix       21.35
4            6      Grandma's Boysenberry Spread       25.00
5            7   Uncle Bob's Organic Dried Pears       30.00
6            8        Northwoods Cranberry Sauce       40.00
7           10                             Ikura       31.00
8           11                    Queso Cabrales       21.00
9           12         Queso Manchego La Pastora       38.00
10          14                              Tofu       23.25
11          16                           Pavlova       17.45
12          17                      Alice Mutton       39.00
13          22               Gustaf's Knäckebröd       21.00
14          26               Gumbär Gummibärchen       31.23
15          27                Schoggi Schokolade       43.90
16          28                 Rössle Sauerkraut       45.60
17          30             Nord-Ost Matjeshering       25.89
18          32                Mascarpone Fabioli       32.00
19          35                    Steeleye Stout       18.00
20          36                       Inlagd Sill       19.00
21          37                        Gravad lax       26.00
22          39                  Chartreuse verte       18.00
23          40                  Boston Crab Meat       18.40
24          43                       Ipoh Coffee       46.00
25          44                      Gula Malacca       19.45
26          49                          Maxilaku       20.00
27          50                  Valkoinen suklaa       16.25
28          53                     Perth Pasties       32.80
29          55                      Pâté chinois       24.00
30          56            Gnocchi di nonna Alice       38.00
31          57                    Ravioli Angelo       19.50
32          60                 Camembert Pierrot       34.00
33          61                    Sirop d'érable       28.50
34          62                    Tarte au sucre       49.30
35          63                      Vegie-spread       43.90
36          64         Wimmers gute Semmelknödel       33.25
37          65  Louisiana Fiery Hot Pepper Sauce       21.05
38          66         Louisiana Hot Spiced Okra       17.00
39          69                  Gudbrandsdalsost       36.00
40          70                     Outback Lager       15.00
41          71                       Flotemysost       21.50
42          72            Mozzarella di Giovanni       34.80
43          73                        Röd Kaviar       15.00
44          76                      Lakkalikööri       18.00